[loggers]
keys=root

[handlers]
keys=stream_handler,rotateFileHandler

[formatters]
keys=logfile_formatter

[logger_root]
level=INFO
handlers=stream_handler,rotateFileHandler

[handler_stream_handler]
class=StreamHandler
level=INFO
formatter=logfile_formatter
args=(sys.stdout,)

[handler_rotateFileHandler]
class=handlers.RotatingFileHandler
level=INFO
formatter=logfile_formatter
args=('/home/ec2-user/applogs/rs_file_loader/rs_file_loader.log', 'a', 10000, 1, 'utf8')

[formatter_logfile_formatter]
format=%(asctime)15s %(name)-12s %(module)-20s %(funcName)-25s %(levelname)-8s %(message)s
