{
  "source":{
    "format": "csv",
    "source_protocol" : "https",
    "location" : "https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv"
  },
  "stg_data":{
    "s3_bucket": "indubh-redshift-bulkdata",
    "s3_prefix": "kumo/test_data/rs_file_loader"
    "s3_region":"us-east-1"
  },
  "destination":{
    "rs_iam_role_arn" : "arn:aws:iam::713940056509:role/rs-s3-access",
    "secret_name": "secret_copyperf_rs_file_loader",
    "secret_region" : "us-east-1",
    "table_name":"addresses",
    "schema_name":"public",
    "load_mode": "APPEND",
    "upper_case_allowed":"n"
  }
}
