{
  "source":{
    "format": "csv",
    "sourceProtocol" : "https",
    "location" : "https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv"
  },
  "stg_data":{
    "s3bckt": "indubh-redshift-bulkdata",
    "s3prefix": "kumo/test_data/rs_file_loader"
  },
  "destination":{
    "rsIamRoleArn" : "arn:aws:iam::713940056509:role/rs-s3-access",
    "secretname": "secret_copyperf_rs_file_loader",
    "secretregion" : "us-east-1",
    "mode": "TRUNCATE"
  }
}
